PORT=5000

MONGO_URI=mongodb+srv://mohammadsaif07861_db_user:K0KZl1872zaYWbPo@cluster0.dcvoewt.mongodb.net/employeeDB?retryWrites=true&w=majority&appName=Cluster0

JWT_SECRET=mysecretkey

OPENROUTER_API_KEY=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

# If using Render, set FRONTEND_ORIGIN to your deployed frontend URL.
FRONTEND_ORIGIN=http://localhost:5173

